.container{
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: space-between;
    height: 500px;
    
}




/* button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
    background-color: #7289da;
    
} */

li{
    text-decoration: none;
    list-style: none;
}